<html>

    <head>
    <title>Sprite Fight</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="sty    lesheet">
    </head>

    <body>
        <h1 id="wrapper" style="text-align: center">    
            <div id="yourdiv" style="display: inline-block;">Sprite Fight</div>
        </h1>

        <div id="img_wrapper" style="text-align: center">
            <img style="display: inline-block;" src="/assets/images/fist.png">
        </div>

    <p style="text-align: center">
    <a class="btn btn-lg btn-success" href="fight" role="button">Fight!</a>
    </p>

    </body>

</html>

{{outlet}}
